.Post {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 0 1rem;
    will-change: transform;
}

.Post__title {
    font-weight: normal;
}

.Post__body {
    word-wrap: break-word;
}