body {
  margin: 0;
  font-family: 'Share Tech', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 75%;
  margin: 1rem auto;
}

span {
  display: block;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
}