.App {
}

h2 {
  text-align: center;
}

input, select, button, span, label {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

input, select {
  margin-bottom: 0;
}

p {
  margin: 0;
}

.input-box {
  margin: 0.5rem 0;
}

.error-message {
  font-size: 0.9rem;
  color: rgb(239 10 10);
}