.main {
  /* margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; */
  width: 60%;
  margin: 1rem auto;
}

h2 {
  text-align: center;
} 

form {
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 0 0 2px;
}