body {
  width: 800px;
  margin: 2em auto 0 auto;
}

h1 {
  text-align: center;
}

form, input, button, label {
  display: block;
  width: 400px;
  margin: 0 auto 0.4rem auto;
}

.post-grid {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.post {
  width: 100%;
}
